* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  background-color: #ddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
}


.login {
  width: 100%;
  display: grid;
  place-items: center;
  align-items: center;
  justify-items: center;
  gap: 0;

  h1 {
    float: left;
    font-size: 80px;
    color: teal;
    margin-bottom: 10px;
    text-transform: uppercase;
  }


  .textbox {
    font-size: 30px;
    border-bottom: 1px solid teal;

    ::placeholder {
      width: 100%;
    }

    i {
      width: 26px;
      float: center;
      text-align: center;
    }

    input {
      border: none;
      outline: none;
      background: none;
      width: 100%;
      font-size: 30px;
      margin: 1.5rem 0;
    }
  }


  form {
    width: calc(70vw/1.1618);
    .button {
      padding: .5rem;
      margin: .5rem 0;
      border: 1px solid teal;
      background: teal;
      color: #ddd;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .1rem;
    }
    .error{
      background: white;
      color: brown;
      padding: 10px;
      width: 95%;
      border-radius: 5px;
    }
  }
}
